@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';

html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: left;
}

body {
  background: #141414;
  color: #fff;
}