.navbar {
    background-color: #202020;
    color: #fff;
    padding: 10px;
}

.navButton {
    padding: 5px;
    border-radius: 8px;
    background-color: #303030;
    color: #fff;
}

.imgButton {
    vertical-align: middle;
    float: right;
    margin-left: 5px;
}