/* 
Beef's Website 
Global CSS
*/

/* Import fonts */
@font-face {
    font-family: JetBrainsLight;
    src: url("./fonts/JetBrainsMono-Light.woff2");
}
  
@font-face {
    font-family: JetBrainsRegular;
    src: url("./fonts/JetBrainsMono-Regular.woff2");
}

/* CSS variables */
:root {
    --background: #282a36;
    --background-alt: #44475a;
    --foreground: #f8f8f2;
    --foreground-alt: #949494;
    --accent: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

/* Page styling */

html, body {
    background-color: var(--background);
    font-size: 18px;
    color: var(--foreground);
    font-family: JetBrainsLight;
}

a {
    color: var(--purple);
    transition: 0.5s ease-in-out color;
    text-decoration: unset;
}
  
a:hover {
    color: var(--pink);
}

h1 {
    font-size: 5em;
    margin-bottom: 5px;
    /* line-height: 5px; */
    text-overflow: ellipsis;
}

h2 {
    margin-top: 5px;
    font-size: 1.5em;
}

::selection {
    background-color: var(--pink);
    color: #141414;
}

/* Keyframes */
@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-80px)}
    100% {opacity: 1; transform: translateY(0px);}
}