---
// Svelte Component Imports
import NavBar from '../components/NavBar.svelte'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />

    <link rel="stylesheet" href="/main.css" />
    <title>Beef's Website | Projects</title>
    <script>
    </script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta http-equiv="Cache-control" content="no-cache">

  </head>
  <body>
    <header>
      <NavBar/>
    </header>

    <main>
      
    </main>
  </body>
</html>
