@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';

html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: left;
}

body {
  background: #141414;
  color: #fff;
}

.title h1 {
  font-size: 48px;
}

.title p {
  font-size: 24px;
}

.projectsTitle {
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: .5rem;

  border: solid #303030 1px;
  border-radius: .25rem;
  padding: 0;
  width: 20rem;
  height: 12rem;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  flex-flow: column nowrap;

  --overlay-bg: rgba(14, 14, 14, 0.9);
}

.cardTitle {
  background: var(--overlay-bg);
  box-shadow: var(--overlay-bg) 0 11px 12px;
  font-weight: lighter;
  font-size: 1.5em;
  padding: .2rem 0 0 .2rem;
}

.description {
  background: var(--overlay-bg);
  box-shadow: var(--overlay-bg) 0 -11px 12px;
  padding: 0 0 .2rem .2rem;
}

.spacer {
  flex: 1;
}

a {
  color: unset;
}