@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';

html,
body {
  font-family: 'comfortaa', sans-serif;
  text-align: left;
}

body {
  background: #141414;
  color: #fff;
}

a {
	color: #60aaff;
  text-decoration: none;
  transition: color ease .2s;
}

a:hover {
    color: #3786fd;
}

code {
  font-size: 16px;
  background-color: #212121;
  padding: 3px;
  border-radius: 4px;
}