---
import type { MarkdownInstance } from "astro";
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro"
import getProps from "@res/js/getProps";

export interface Props {
	title: string;
}

const { title } = getProps(Astro.props);

const articles = await Astro.glob<Article>("../pages/articles/*.md");
const article = articles.find((i: MarkdownInstance<Article>) => i.frontmatter.title === title)!;
---

<BaseLayout title={title}>
	<main class="h-full flex flex-col gap-2">
        <ArticleCard article={article.frontmatter} />
        <span class="pb-4"><slot /></span>
	</main>
</BaseLayout>
